h1,
h2,
h3,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
}

small {
  font-family: 'Rubik', sans-serif;
}

// body text
p {
  font-size: 22px;
  // font: 32px/44px;
  line-height: 1.4;
  // font-weight: 400;
}

legend {
  margin: 10px 0;
}

.legend-medium {
  font-size: 18px;
  font-weight: 500;
}

a {
  // font-size: 16px;
  color: $link;
  text-decoration: none;
  font-weight: 400;
}

small {
  font-weight: 300;
}

legend {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.op-90 {
  opacity: 90%;
  margin-bottom: 0;
}

.op-80 {
  opacity: 80%;
}
