// Global Variables //
$dark-sky: #4c5976;
$neon-green: #3cb4be;
$lime-green: #43de7f;
$logo-green: #2ddbac;
$grey: #f5f5f5;
$white: #ffffff;
$midnight: #0a1d33;
$link: #488de0;
$color-block-sky: #3497fd;
$color-block-paste: #3acce1;
$color-block-violet: #665eff;
$slider-pointer: #3ec1aa;
$navbar-background-home: #38404e;
$navbar-font-color: #05143e;
$text-input: #f2f6fe;
