@import 'variables';
@import 'typography';
@import 'global';

.hide-mobile {
  display: none;
}

.brand-logo {
  span {
    color: $logo-green;
  }
}

.nav-header {
  grid-area: nav-header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-nav {
  grid-area: side-nav;
  background: linear-gradient(212deg, #041341 0, #0a1d33 100%) no-repeat
    padding-box;
  overflow: auto;
  width: 300px;
  padding: 0.7em 1.3em;
  transition: all 1s;
  height: 100vh;
  color: $white;
  position: absolute;

  .side-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    margin-top: 15px;
    margin-left: 1.3em;

    li {
      margin-bottom: 8px;
      cursor: pointer;
    }
  }
}
.close-sidebar {
  width: 0;
  padding: 0;
  opacity: 0;
}

.dashboard {
  grid-area: content;
  .analytics {
    margin-top: 20px;

    small {
      font-weight: bold;
    }

    table {
      margin-top: 20px;
      border-collapse: collapse;
      width: 100%;
      box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.29);
      td,
      th {
        border-bottom: 1px solid #ddd;
        padding: 8px;
        padding-left: 25px;
      }

      tr:hover {
        background-color: #ddd;
      }

      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        font-weight: 600;
        color: gray;
      }
    }
  }
}

.account {
  grid-area: content;
  margin-top: 40px;

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 33px;
  }

  .account-cards {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .card-1 {
      margin-bottom: 25px;
      button {
        margin-top: 15px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .App {
    display: grid;
    grid-template-columns: auto 9fr;
    grid-template-rows: 50px auto;
    grid-template-areas:
      'side-nav nav-header'
      'side-nav content';
  }

  .hide-desktop {
    display: none;
  }

  .side-nav {
    position: static;
  }

  .account {
    .account-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 60px;
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 1360px) {
  .brand-logo {
    font-size: 1.8rem;
  }
}
